.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

a {
  text-decoration: none;
  display: block;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #757575;
}

.header {
  border-bottom: 1px solid #ececec;
}

.navigation {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.navigation .link-logo {
  margin-right: 93px;
}

.navigation .link {
  display: block;
  padding: 24px 0px;
}

.link-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
}

.logo-studio {
  color: #000000;
}

.contact-link {
  letter-spacing: 0.02em;
  display: flex;
  font-weight: 500;
  color: inherit;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
}

.contact-link:hover, .contact-link:focus {
  color: #2196f3;
}

.nav.link {
  color: #212121;
  display: flex;
}

.nav.link:hover, .nav.link:focus {
  color: #2196f3;
}

.nav-list {
  letter-spacing: 0.02em;
  display: flex;
}

.nav-list > li:not(:last-child) {
  margin-right: 50px;
}

.nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-list {
  display: flex;
}

.contacts-list > li:not(:last-child) {
  margin-right: 50px;
}

.contacts-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.current {
  color: #2196f3;
}

.descript-list-title,
.section-title {
  font-weight: 700;
  color: #212121;
}

.icon-envelope {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .icon-envelope,
.contact-link:focus .icon-envelope {
  fill: #2196f3;
}

.icon-smartphone {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .icon-smartphone,
.contact-link:focus .icon-smartphone {
  fill: #2196f3;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .current-link-item {
  position: relative;
}

.container .current-link-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #2196f3;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

.hero.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bgImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2f303a;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-info {
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: #2196f3;
  border-radius: 4px;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.descript-list-title {
  font-size: inherit;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.descript-list-text {
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 0;
}

.strengths {
  padding-top: 88px;
  padding-bottom: 100px;
}

.strengths > .container {
  text-align: left;
}

.descript-list {
  display: flex;
}

.descript-list > li {
  width: calc((100% - (3 * 30px)) / 4);
}

.descript-list > li:not(:last-child) {
  margin-right: 30px;
}

.descript-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.tasks {
  padding-bottom: 94px;
}

.section-title {
  font-size: 36px;
  margin-bottom: 50px;
}

.pictures-list {
  display: flex;
  margin-top: 50px;
}

.pictures-list > li:not(:last-child) {
  margin-right: 30px;
}

.pictures-list-item {
  width: 370px;
}

.pictures-list-photo {
  display: block;
}

.pictures-list-item {
  position: relative;
}

.pictures-list-box {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.pictures-list-text {
  position: absolute;
  margin: 0;
  width: 100%;
  padding: 27px 82px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.our-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team > .container {
  margin-bottom: 0;
}

.section-title {
  margin: 0;
}

.team-list {
  display: flex;
  margin-top: 50px;
}

.team-list > li {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list > li:not(:last-child) {
  margin-right: 30px;
}

.worker-photo {
  display: block;
}

.worker-name,
.worker-position {
  font-size: 16px;
  margin-top: 0;
}

.worker-name {
  font-weight: 500;
  color: #212121;
  margin-bottom: 10px;
}

.worker-position {
  text-transform: capitalize;
  margin-bottom: 16px;
}

.worker-info-item {
  background-color: #ffffff;
  width: 270px;
}

.card-info {
  padding: 30px;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

.social-list-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
}

.social-list-link:hover, .social-list-link:focus {
  background-color: #2196f3;
}

.social-list {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.social-list-item {
  width: 44px;
  height: 44px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  margin-top: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list-item {
  width: 170px;
  height: 90px;
}

.clients-list-link {
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-color: #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
}

.clients-list-link:hover, .clients-list-link:focus {
  border-color: #2196f3;
}

.clients-list-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
  fill: #2196f3;
}

.footer-contact-link {
  color: var(--footer-email-tel);
  display: inline-block;
}

.footer-contact-link:hover, .footer-contact-link:focus {
  color: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .link-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer > .container {
  text-align: left;
}

.location {
  margin: 0;
  margin-bottom: 9px;
}

.footer-logo-studio,
.address {
  color: #ffffff;
}

.address,
.footer-contact-link {
  line-height: 1.7;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-style: normal;
  display: block;
  margin-bottom: 9px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-socialnet {
  width: 206px;
}

.footer-text {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 0;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.footer-subscribe {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-mail-form {
  display: flex;
}

.footer-form-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer-form-input {
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  min-width: 200px;
  border: none;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
  padding-left: 29px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-btn-icon {
  fill: currentColor;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-button:hover .btn-close-icon,
.close-button:focus .btn-close-icon {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 12px;
  color: #212121;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}

.form-container input:focus + .form-field-icon {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-container input {
  margin: 0;
  padding: 0;
  padding-left: 42px;
  margin-top: 4px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-container input:focus {
  outline: none;
  border-color: #2196f3;
}

.comment {
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}

.form-wrapper {
  position: relative;
}

.form-field-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea {
  margin: 0;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  width: 448px;
  height: 120px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea:focus {
  border-color: #2196f3;
  outline: none;
}

.comment {
  margin: 0;
}

.form-submit {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.policy-info {
  color: #2196f3;
  text-decoration: underline;
}

.form-confirm {
  position: absolute;
}

.form-confirm:focus {
  color: #2196f3;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.form-confirm:checked + .checkbox-icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url("/img/svg.opt/white-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-origin: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-submit:hover .checkbox-icon,
.form-submit:focus-within .checkbox-icon {
  border: 2px solid #2196f3;
  cursor: pointer;
}

.js-registration-form button {
  display: block;
}

.sub-btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  background-color: #2196f3;
  border-radius: 4px;
  padding: 10px 55px;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 30px 125px;
}
/*# sourceMappingURL=main.css.map */