.hero.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/bgImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2f303a;
}

.hero {
  background-color: $hero-background-color;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-info {
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  letter-spacing: 0.06em;
  color: $hero-title-color;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: $accent-color;
  border-radius: 4px;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  color: $hero-title-color;
}
