$text-color: #757575;
$title-color: #212121;
$accent-color: #2196f3;
$hero-title-color: #ffffff;
$hero-background-color: #2f303a;
$team-background-color: #f5f4fa;
$logo-black-color: #000000;
$footer-background-color: #2f303a;
$footer-email-tel: #afb1b8;
$portfolio-box-width: 370px;
$working-title: #212121;
$color-border-portfolio: #eeeeee;
$header-border-color: #ececec;
$font-family: Roboto, sans-serif;
